<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>

<body>
<div>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="submit" value="Sign Out"/>
    </form>
</div>

<div>
    <form action="/users" method="get">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="submit" value="Users"/>
    </form>
</div>

<div>
    <form class="form-inline" action="saveProduct" method="post">
        <input type="text" name="name" placeholder="Product name">
        <input type="text" name="price" placeholder="Product price">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <button type="submit">Add</button>
    </form>
</div>

<a href="registration"><i>Registration</i></a>

<div>List of products</div>
{{#products}}
    <div>
        <b>{{id}}</b>
        <b>{{name}}</b>
        <i>{{price}}</i>
    </div>
{{/products}}


</body>
</html>
