<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>

<body>
Add new user
{{#message}}
    {{message}}
{{/message}}
<form class="form-inline" action="/registration" method="post">
    <div class="form-group"> <label>Login: <input type="text" name="username"/></label></div>
    <div class="form-group"> <label>Password: <input type="password" name="password"/></label></div>
    <div class="form-group"> <label>ROLE: <input type="text" name="role"/></label></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <div><input type="submit" value="Sing In"/></div>
</form>

</body>
</html>
