<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>

<body>
Users page:

<a href="/registration">Add new user</a>


<div>List of users</div>
{{#users}}
    <div>
        <b>{{id}}</b>
        <b>{{username}}</b>
        <i>{{password}}</i>
    </div>
{{/users}}
</body>
</html>
