<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head>
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Main</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"><link href="signin.css" rel="stylesheet">

</head>

<body>

<form class="form-inline" th:action="main" method="post">
<div class="form-group w-10 p-1">
    <label for="thread">Thread: </label>
    <input type="thread" id="thread"  name="thread" class="form-control w-10 p-1" >
</div>
</br>
<div class="form-group w-10 p-1">
    <label for="url">Url: </label>
    <input type="url" id="url" name="url" class="form-control w-10 p-1" >
    </div>
    <button class="btn btn-primary btn-lg" type="submit"/>Find</button>
</form>

<form class="form-inline" th:action="main" method="post">
<table>
    <tr th:each="img : ${imgs}">
      <td> <a th:href="@{img}" th:text="${img}"></a></td>
    </tr>
</table>
</form>
</body>
</html>
