<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Login page</title>
</head>
<body>

<form th:action="registration" method="post">
<label for="login">Login:</label>
<input type="text" id="login" name="login" autofocus="autofocus" /> <br />
<label for="password">Password:</label>
<input type="password" id="password" name="password" /> <br />
    <label for="firstName">First name:</label>
    <input type="text" id="firstName" name="firstName" /> <br />
    <label for="lastName">Last name:</label>
    <input type="text" id="lastName" name="lastName" /> <br />
    <label for="admin">Is admin</label>:
    True:<input type="radio"  name="admin" value="on" />
    False:<input type="radio"  name="admin" value="off" checked /> <br />

<input type="submit" value="Registration" />
</form>
</br>

<table border="1">
    <tr>
        <th>Id</th>
        <th>Login</th>
        <th>Password</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Is admin</th>
    </tr>
<tr th:each="user: ${users}">
    <td th:text="${user.id}" />
    <td th:text="${user.login}" />
    <td th:text="${user.password}" />
    <td th:text="${user.firstName}" />
    <td th:text="${user.lastName}" />
    <td th:text="${user.admin}" />
</tr>
</table>
</br>
<form th:action="delete" method="post">
    <label for="id">Delete by ID user:</label>
    <input type="text" id="id" name="id"  /> <br />
    <input type="submit" value="Delete" />
</form>
</br>

<form th:action="update" method="post">
    <label for="id">Id:</label>
    <input type="text" id="id" name="id" autofocus="autofocus" /> <br>
    <label for="login">Login:</label>
    <input type="text" id="login" name="login" /> <br />
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" /> <br />
    <label for="firstName">First name:</label>
    <input type="text" id="firstName" name="firstName" /> <br />
    <label for="lastName">Last name:</label>
    <input type="text" id="lastName" name="lastName" /> <br />
    <label for="admin">Is admin</label>:
    True:<input type="radio"  name="admin" value="on" />
    False:<input type="radio"  name="admin" value="off" checked /> <br />

    <input type="submit" value="Update" />
</form>
</body>
</html>